<div class="container" style=" text-align: left;">
    <script src="/Scripts/walidacja.js"></script>
    <h2>Formularz</h2>
    <div><b>Rafał Przepióra</b></div>
    <div><b>Programowanie w internecie</b></div>
    <form action="SprawdzNowe.php" method="post">
        <div class="modal-body row justify-content-sm-center">
            <div class="col-sm-2">
                <label for="login">Login:</label>
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" style="border: 2px solid #aaaaaa;" name="login" id="login">
            </div>
        </div>
        <div class="modal-body row justify-content-sm-center">
            <div class="col-sm-2">
                <label for="password">Hasło:</label>
            </div>
            <div class="col-sm-4">
                <input type="password" class="form-control" style="border: 2px solid #aaaaaa;" name="password" id="password">
            </div>
        </div>
        <div class="modal-body row justify-content-sm-center">
            <div class="col-sm-2">
                <label for="name">Imię:</label>
            </div>
            <div class="col-sm-4">
                <input class="form-control" style="border: 2px solid #aaaaaa;" type="text" name="name" id="name">
            </div>
        </div>
        <div class="modal-body row justify-content-sm-center">
            <div class="col-sm-2">
                <label for="lastname">Nazwisko:</label>
            </div>
            <div class="col-sm-4">
                <input class="form-control" style="border: 2px solid #aaaaaa;" type="text" name="lastname" id="lastname">
            </div>
        </div>
        <div class="modal-body row justify-content-sm-center">
            <div class="col-sm-2">
                <label for="mail">Email:</label>
            </div>
            <div class="col-sm-4">
                <input class="form-control" style="border: 2px solid #aaaaaa;" type="text" name="mail" id="mail">
            </div>
        </div>
        <div class="modal-body row justify-content-sm-center">
            <div class="col-sm-2">
                <label for="pesel">PESEL:</label>
            </div>
            <div class="col-sm-4">
                <input class="form-control" style="border: 2px solid #aaaaaa;" type="text" name="pesel" id="pesel">
            </div>
        </div>
        <div class="modal-body row justify-content-sm-center">
            <div class="col-sm-1"></div>
            <input class="btn btn-success col-sm-2" style="background: green;" type="button" value="Sprawdź" id="p1" onclick="check()" />
        </div>
    </form>
</div>