<div class="row">
    <div id="memory">
        <div class="container ">
            <br>
            <div class="game-board"></div>
            <div class="game-score"></div>
            <div class="centerClass">
                <button class="game-start">Rozpocznij nową grę</button>
            </div>
        </div>
        <script src="/Scripts/javaScriptMemory.js"></script>
    </div>
</div>