<div class="container">
    <h2>Rydwan</h2>
    <div>
        Rydwan to pojazd konny, najczęściej dwukołowy zaprzężony w dwa lub cztery konie, zwykle z tyłu otwarty. Wymyślony przez Sumerów ok. 3000 p.n.e., znany od około XXVIII w. p.n.e.
        na całym Bliskim Wschodzie, w Egipcie od około XVIII w. p.n.e. oraz w starożytnej Grecji od XII wieku p.n.e..
        Później był znany także w całej Europie, Chinach oraz Indiach. Mógł być zaprzężony w dwa konie – wtedy zwał się bigą, lub w cztery i wtedy nazywał się kwadrygą.
        Jechały nim zazwyczaj dwie lub 4 osoby.
    </div>
    <h2>Początki Kawalerii</h2>
    <div>
        Kawaleria odgrywała dużą rolę u ludów koczowniczych (m.in. Kimerowie, Scytowie, Sarmaci, Hunowie, a później Awarowie)
        zamieszkujących rozległe terytoria wschodniej Europy i środkowej Azji. Właśnie na stepie po raz pierwszy człowiek dosiadł konia.
        Po raz pierwszy przedstawiciele ludów osiadłych dosiedli konia w II tysiącleciu p.n.e..
        W cywilizacjach bliskowschodnich odgrywała na ogół rolę drugorzędną, jako formacja kosztowna i nieprzydatna przy oblężeniach i obronie miast
        (Wyjątkiem była Asyria, gdzie jazda była traktowana jako formacja elitarna).
        Ciężka kawaleria odgrywała kluczową rolę w wojskach Aleksandra Macedońskiego.
        Najazd Armii huńskiej, składającej się głównie z łuczników konnych, była jedną z przyczyn upadku Zachodniego Imperium Rzymskiego.
    </div>
    <h2>Średniowiecze</h2>
    <div>
        W średniowiecznych cywilizacjach trzon armii stanowiła ciężka jazda. Jednakże po prawie 1000 latach
        na azjatyckich stepach znowu zjednoczyły się plemiona i powstało nowe państwo - Mongolia , która znów przyjeła strategie wojny podjazdowej
        i większość jej armii stanowiła lekka jazda. Dzięki przewadze szybkości i zasięgu Mongołowie podbili połowę Eurazji.
    </div>
    <h2>Nowożytność</h2>
    <div>
        Rozpowszechnienie broni palnej spowodowało zanik ciężkozbrojnej jazdy. W renesansie kawaleria dzieliła się na
        dragonów(uzbrojoncych w muszkiety) oraz lansjerów (uzbrojoncych w lance). Ostatni raz kawalerii użyto na frontach
        I wojny światowej. Została wyparta na rzecz oddziałów pancernych.
    </div>
</div>
